

     <div class="container-fluid" id="container">
       <p class="pp">Search By Any Location</p>
        <input  [(ngModel)]="city" id="address" type="textbox">

        <input  type="button" class="btn btn-primary" value="Getcode" id="btn" (click)="getLocationDetails()">
<p class="error">{{errorMessage}}</p>
        <div id="messageBox"> </div>
        <div id="lattitude"></div>
        <div id="longitude"></div>
        <div id="val"></div>
        <p class="city">City : {{city}}</p>
        <p class="city">Country : {{country}}</p>
        <p class="city">State : {{state}}</p>
        <p class="city">pincode : {{pin}}</p>
    </div>



